<body>
    <div class="container">
        <div class="title">
            <h2>Añadir Nuevo Coche</h2>
        </div>
        <div class="form">
            <form
                [formGroup]="carForm"
                (ngSubmit)="onSubmit()"
                autocomplete="off"
            >
                <div class="required">
                    <!-- BRAND -->
                    <div class="form-group brand">
                        <label for="brand">Marca*: </label>
                        <select
                            id="brand"
                            formControlName="brand"
                            class="form-control"
                        >
                            <option value="" disabled selected hidden>
                                Selecciona una marca
                            </option>
                            @for (brand of brandsSignal(); track brand) {
                                <option [value]="brand">{{ brand }}</option>
                            }
                        </select>
                        @if (
                            carForm.get('brand')?.invalid && carForm.get('brand')?.touched
                        ) {
                            <div class="error">La marca es requerida.</div>
                        }
                    </div>
                    <!-- MODEL -->
                    <div class="form-group model">
                        <label for="model">Modelo*: </label>
                        <select
                            id="model"
                            formControlName="model"
                            class="form-control"
                        >
                            <option value="" disabled selected hidden>
                                Selecciona un modelo
                            </option>
                            @for (model of modelsSignal(); track model) {
                                <option [value]="model">{{ model }}</option>
                            }
                        </select>
                        @if (
                            carForm.get('model')?.invalid && carForm.get('model')?.touched
                        ) {
                            <div class="error">El modelo es requerido.</div>
                        }
                    </div>
                </div>

                <div class="btn-section">
                    <div id="add-btn">
                        <button (click)="createNewCar()">Nuevo Coche</button>
                    </div>
                </div>

                @for (control of carDetails.controls; track $index) {
                    <!-- formarray -->
                    <div class="optional-menu">
                        <div class="details">
                            <div class="title">
                                <h3>Detalles del coche:</h3>
                            </div>
                            <section class="left-section">
                                <!-- REGISTRATION DATE -->
                                <div class="form-group">
                                    <label for="registrationDate"
                                        >Fecha de registro:
                                    </label>
                                    <input
                                        type="date"
                                        id="registrationDate"
                                        [formControl]="getCarDetailControl('registrationDate')"
                                        class="form-control"
                                        placeholder=""
                                    />
                                    @if (
                                        getCarDetailControl('registrationDate').invalid && getCarDetailControl('registrationDate').touched
                                    ) {
                                        <div class="error">
                                            La fecha de registro es requerida.
                                        </div>
                                    }
                                </div>
                                <!-- MILEAGE -->
                                <div class="form-group">
                                    <label for="mileage">Kilometraje: </label>
                                    <input
                                        type="number"
                                        id="mileage"
                                        [formControl]="getCarDetailControl('mileage')"
                                        class="form-control"
                                        placeholder="0"
                                    />
                                    @if (
                                        getCarDetailControl('mileage').invalid && getCarDetailControl('mileage').touched
                                    ) {
                                        <div class="error">
                                            El kilometraje debe ser un número
                                            positivo.
                                        </div>
                                    }
                                </div>
                                <!-- CURRENCY -->
                                <div class="form-group">
                                    <label for="currency">Moneda: </label>
                                    <input
                                        type="text"
                                        id="currency"
                                        [formControl]="getCarDetailControl('currency')"
                                        class="form-control"
                                        placeholder="Escribe una moneda"
                                        #autoCompleteInput
                                    />

                                    @if (filteredCurrencies().length > 0) {
                                        <ul class="autocomplete-list">
                                            @for (
                                                currency of filteredCurrencies();
                                                track currency.code
                                            ) {
                                                <li
                                                    (click)="selectCurrency(currency)"
                                                >
                                                    {{ currency.code }}
                                                </li>
                                            }
                                        </ul>
                                    }

                                    @if (
                                        getCarDetailControl('currency').invalid && getCarDetailControl('currency').touched
                                    ) {
                                        <div class="error">
                                            La moneda debe seguir el ISO 4217.
                                        </div>
                                    }
                                </div>
                            </section>
                            <section class="right-section">
                                <!-- MANUFACTURE YEAR -->
                                <div class="form-group">
                                    <label for="year"
                                        >Año de Fabricación:
                                    </label>
                                    <input
                                        type="number"
                                        id="year"
                                        [formControl]="getCarDetailControl('manufactureYear')"
                                        class="form-control"
                                        placeholder="1900"
                                    />
                                    @if (
                                        getCarDetailControl('manufactureYear').invalid && getCarDetailControl('manufactureYear').touched
                                    ) {
                                        <div class="error">
                                            Introduce un año válido.
                                        </div>
                                    }
                                </div>
                                <!-- LICENSE PLATE -->
                                <div class="form-group">
                                    <label for="licensePlate"
                                        >Matrícula:
                                    </label>
                                    <input
                                        type="text"
                                        id="licensePlate"
                                        [formControl]="getCarDetailControl('licensePlate')"
                                        class="form-control"
                                        placeholder="0000 AAA"
                                    />
                                    @if (
                                        getCarDetailControl('licensePlate').invalid && getCarDetailControl('licensePlate').touched
                                    ) {
                                        <div class="error">
                                            La matrícula debe ser alfanumérica
                                            (máximo 7 caracteres).
                                        </div>
                                    }
                                </div>
                                <!-- PRICE -->
                                <div class="form-group">
                                    <label for="price">Precio: </label>
                                    <input
                                        type="number"
                                        id="price"
                                        [formControl]="getCarDetailControl('price')"
                                        class="form-control"
                                        placeholder="0"
                                    />
                                    @if (
                                        getCarDetailControl('price').invalid && getCarDetailControl('price').touched
                                    ) {
                                        <div class="error">
                                            El precio debe ser un número
                                            positivo.
                                        </div>
                                    }
                                </div>
                            </section>
                        </div>
                        <!-- SUBMIT -->
                        <div class="btn-section">
                            <div id="submit-btn">
                                <button
                                    type="submit"
                                    [disabled]="carForm.invalid"
                                >
                                    Añadir Coche
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
        <h3 class="mt-4">Coches Añadidos</h3>
        @if (carSignal().length > 0) {
            @for (item of carSignal(); track item.id) {
                <li>
                    {{ item.brand }} {{ item.model }} -
                    {{ item.carDetails[0].mileage }} km, Matrícula:
                    {{ item.carDetails[0].licensePlate }}
                </li>
            }
        } @else {
            <p>No hay coches añadidos.</p>
        }
    </div>
</body>
