<section class="car-detail-container">
    <!-- Left section with details -->
    <div class="left-section">
        <section id="model-detail">
            <h2>{{ car.brand }} {{ car.model }}</h2>
            <div class="brand-model">
                @if (car.total === 1) {
                    <h3>{{ car.total }} unidad</h3>
                } @else {
                    <h3>{{ car.total }} unidades</h3>
                }
            </div>
        </section>

        <div class="units-container">
            @for (item of car.carDetails; track $index) {
                <section class="unit-card">
                    <div id="unit-detail">
                        <div class="condition-mileage">
                            <p>
                                <span class="label">Kilometraje:</span>
                                {{ item.mileage | number: '1.0-0' }} Km
                            </p>
                            <p class="label condition">
                                {{ item.mileage | carCondition }}
                            </p>
                        </div>
                        <p>
                            <span class="label">Precio:</span>
                            {{ item.price | currency: item.currency: 'symbol' }}
                        </p>
                        <p>
                            <span class="label">Matrícula:</span>
                            {{ item.licensePlate }}
                        </p>
                        <p>
                            <span class="label">Año:</span>
                            {{ item.manufactureYear }}
                        </p>
                        <p>
                            <span class="label">Registro:</span>
                            {{ item.registrationDate | date: 'dd MMMM yyyy' }}
                        </p>
                    </div>
                </section>
            }
        </div>
    </div>

    <!-- Right section with background image -->
    <div class="right-section">
        <img
            [src]="backgroundImage"
            [alt]="car.brand + ' background'"
            class="brand-background"
        />
    </div>
</section>
