<div class="page-container">
    <div class="btn-section">
        <button
            appReusableButton
            buttonType="flat"
            id="create-new-btn"
            routerLink="/new"
        >
            Crear Nuevo
        </button>
    </div>
    <div class="crud-table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (car of cars; track car.id) {
                    <tr>
                        <td>
                            <a href="/cars/{{car.id}}">{{car.id}}</a>
                        </td>

                        <td>
                            <div class="logo-section">
                                <img
                                    src="{{getLogo(car.brand)}}"
                                    alt="{{car.brand}} logo"
                                    class="logo"
                                />
                            </div>
                        </td>
                        <td>{{car.model}}</td>
                        <td>{{car.total}}</td>
                        <td>
                            <div class="dropdown" id="dropdown">
                                <button
                                    appReusableButton
                                    buttonType="stroked"
                                    class="dropdown-toggle"
                                    #trigger
                                    (click)="openDropdown(car.id)"
                                    id="action-btn"
                                >
                                    Acciones
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
