<div class="page-container">
    <div class="btn-section">
        <button
            appReusableButton
            buttonType="flat"
            id="create-new-btn"
            routerLink="/create"
        >
            Crear Nuevo
        </button>
    </div>
    <div class="crud-table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (car of cars; track car.id) {
                    <tr>
                        <td>
                            <a href="/cars/{{car.id}}">{{car.id}}</a>
                        </td>

                        <td>
                            <div class="logo-section">
                                <img
                                    src="{{getLogo(car.brand)}}"
                                    alt="{{car.brand}} logo"
                                    class="logo"
                                />
                            </div>
                        </td>
                        <td>{{car.model}}</td>
                        <td>{{car.total}}</td>
                        <td>
                            <button
                                appReusableButton
                                buttonType="stroked"
                                class="dropdown-toggle"
                                #trigger
                                (click)="openDropdown()"
                                id="action-btn"
                            >
                                Acciones
                            </button>
                            <ng-template cdkPortal>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item">
                                        <a href="/edit">Editar</a>
                                    </button>
                                    <button class="dropdown-item">
                                        <a href="/delete">Eliminar</a>
                                    </button>
                                </div>
                            </ng-template>
                            <!-- <div class="acciones-menu">
                                <label for="acciones">Acciones</label>
                                <select>
                                    <option
                                        class="acciones-menu-item"
                                        value="edit"
                                        routerLink="/edit"
                                    >
                                        Edit
                                    </option>
                                    <option
                                        class="acciones-menu-item"
                                        value="delete"
                                        routerLink="/delete"
                                    >
                                        Delete
                                    </option>
                                </select>
                            </div> -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
