<div>
    <div class="">
        <table class="styled-table">
            <caption class="title-text">
                Coches de la API
            </caption>
            <thead>
                <tr>
                    <th class="subtitle-text">ID</th>
                    <th class="subtitle-text">Marca</th>
                    <th class="subtitle-text">Modelo</th>
                    <th class="subtitle-text">Total</th>
                    <th class="subtitle-text">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (car of cars; track car.id) {
                    <tr [routerLink]="['/cars', car.id]">
                        <td class="plain-text">{{car.id}}</td>
                        <td class="plain-text">{{car.model}}</td>
                        <td class="plain-text">
                            <img
                                src="{{getLogo(car.brand)}}"
                                alt="{{car.brand}} logo"
                                class="logo"
                            />
                        </td>
                        <td class="plain-text">{{car.total}}</td>
                        <td>
                            <div class="acciones-menu" cdkMenu>
                                <button
                                    class="acciones-menu-item"
                                    routerLink="/edit"
                                    class="plain-text"
                                    cdkMenuItem
                                >
                                    Editar
                                </button>
                                <button
                                    class="acciones-menu-item"
                                    routerLink="/delete"
                                    class="plain-text"
                                    cdkMenuItem
                                >
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <button routerLink="/create" mat-stroked-button class="button-text">
            Crear Nuevo
        </button>
    </div>
</div>
