.crud-table-container {
    max-width: 90vw;
    margin: 2vh auto;
    background-color: white;
    box-shadow: 0 0.2rem 1rem rgb(150, 150, 150);
    border-radius: 20px;
    overflow: hidden;
}

th,
td {
    text-align: center;
    vertical-align: center;
    width: 20vw;
    padding: 15px;
}

#create-new-btn {
    padding: 0.8rem 1.5rem;
    width: 100%;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}

#action-btn {
    padding: 0.8rem 1.5rem;
    width: 100%;
    color: #2c8bca;
    font-size: 1rem;
}

.logo-section {
    width: 100%;
}

.logo {
    width: 5vw;
    align-content: center;
    justify-content: center;
}

.acciones-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
}

.acciones-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.acciones-menu-item:hover {
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
}

.acciones-menu-item:active {
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
}
