<div class="page-container">
    <div class="container">
        <div class="title">
            <h2>Editar Coche</h2>
        </div>

        <!-- FORM
         HERE -->

        <!-- SUBMIT -->
        <div class="btn-section">
            <div id="submit-btn">
                <button
                    appReusableButton
                    buttonType="flat"
                    type="submit"
                    routerLink="/cars/id:"
                >
                    Añadir Coche
                </button>
            </div>
        </div>
    </div>
</div>
